# --------------------------------------------------
# Node.js
# --------------------------------------------------

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# --------------------------------------------------
# OS Files
# --------------------------------------------------

.DS_Store
Thumbs.db
desktop.ini

# --------------------------------------------------
# IDE
# --------------------------------------------------

.vscode/
.idea/

# --------------------------------------------------
# Logs
# --------------------------------------------------

*.log

# --------------------------------------------------
# WordPress Core
# --------------------------------------------------

wordpress/wp-admin/
wordpress/wp-includes/

# Root WordPress files
wordpress/index.php
wordpress/license.txt
wordpress/readme.html
wordpress/wp-*.php
wordpress/xmlrpc.php


# --------------------------------------------------
# WordPress Content
# --------------------------------------------------

wordpress/wp-content/cache/
wordpress/wp-content/upgrade/
wordpress/wp-content/uploads/
wordpress/wp-content/backups/
wordpress/wp-content/ai1wm-backups/
wordpress/wp-content/plugins/akismet/
wordpress/wp-content/themes/twentytwentyfive/

# --------------------------------------------------
# Local Configuration
# --------------------------------------------------

wordpress/wp-config.php
wordpress/.env
.env
wordpress/wp-content/themes/zibo/node_modules

# --------------------------------------------------
# Keep Themes and Plugins
# --------------------------------------------------

!wordpress/wp-content/
!wordpress/wp-content/themes/
!wordpress/wp-content/plugins/

# --------------------------------------------------
# Ignore Vendor Folders (Optional)
# --------------------------------------------------

**/vendor/

# --------------------------------------------------
# Build Files (Optional)
# --------------------------------------------------

**/.sass-cache/
**/dist/
**/build/